<footer class="py-4 bg-dark text-white-50 mt-auto">
  <div class="container text-center">
    <a href="#" class="text-white" style="font-size: 2rem;"><i class="fab fa-facebook"></i></a>
    <a href="#" class="text-white mx-4" style="font-size: 2rem;"><i class="fab fa-instagram"></i></a>
    <a href="#" class="text-white" style="font-size: 2rem;"><i class="fab fa-twitter"></i></a>
    <small class="d-block">Copyright &copy; Zohar Website</small>
  </div>
</footer>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>