html{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #e6e6e680; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header-font{
    font-family: 'Bangers', cursive;
    text-shadow: 4px 4px rgba(0,0,0,0.650);
    color: #ace632;
}
.p-font{
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 2em;
}

.mycard-title, .mycard-title:hover{
    text-decoration: none;
    color:  #ace632;
}

.shop-bg{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.op-bg{
   background: rgba(0,0,0,0.450);
}

.flash{
    z-index: 1;
    text-align: center;
}