html{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #e6e6e680; */
    min-height: 100%;
    max-width: 100%;
}

.font{
    font-family: 'Bangers', cursive;
    color: #ace632;
}

.mycard-title, .mycard-title:hover{
    text-decoration: none;
    color:  #ace632;
}

.space-bg{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.op-bg{
   background: rgba(0,0,0,0.450);
}

.flash{
    z-index: 1;
    text-align: center;
}