<%- include("../partials/header")%>
<div class="container form-size">
    <h1 class="text-center">New Product</h1>
    <form action="/shop" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" name="shoe[name]" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input class="form-control" id="image" type="file" name="image" accept="image/*" required>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control"  type="number" name="shoe[price]" placeholder="Price">
        </div>
        <div class="form-group">
            <label>Color</label>
            <br>
            <label><input type="checkbox" name="shoe[color]" value="black" /> black</label>
            <label><input type="checkbox" name="shoe[color]" value="white" /> white</label>
            <label><input type="checkbox" name="shoe[color]" value="yellow" /> yellow</label>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control"  name="shoe[description]"></textarea>
        </div>
        <button class="btn btn-primary">submit</button>
    </form>
</div>

<%- include("../partials/footer")%>